<script type="text/javascript" charset="utf-8" src="__ROOT__/Public/Plugin/ueditor-1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/Public/Plugin/ueditor-1.4.3.3/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__ROOT__/Public/Plugin/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>




<form class="form-horizontal" role="form"  method="" action="">
    {$html_add}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        </div>
    </div>
</form>