


<div class="row-fluid sortable">
    <div class="box span12">
        <div data-original-title="" class="box-header well"><!-- <i class="icon-user"></i> <a href="add" class=""></a>{$pageTitle}--></div>
        <div class="box-content">
            <form method='get' action="__SELF__"  class="form-inline">
                  <div class="form-group" >
    <label for="id"> id</label>
    
       <input  type="hidden"  class="form-control" name="id" id="id"  value="{$vo.id}" />
       </div>
   

  <div class="form-group" >
    <label for="openid"> openid</label>
    
       <input  class="form-control" name="openid" type="text" id="openid" size="30" value="{$vo[openid] ? $vo[openid] : $_GET[openid]}" />
       </div>
   

  <div class="form-group" >
    <label for="nickname"> 昵称</label>
    
       <input  class="form-control" name="nickname" type="text" id="nickname" size="30" value="{$vo[nickname] ? $vo[nickname] : $_GET[nickname]}" />
       </div>
   

  <div class="form-group" >
    <label for="mobile"> 手机</label>
    
       <input  class="form-control" name="mobile" type="text" id="mobile" size="30" value="{$vo[mobile] ? $vo[mobile] : $_GET[mobile]}" />
       </div>
   

  <div class="form-group" >
    <label for="deviceid"> 设备id</label>
    
       <input  class="form-control" name="deviceid" type="text" id="deviceid" size="30" value="{$vo[deviceid] ? $vo[deviceid] : $_GET[deviceid]}" />
       </div>
   

  <div class="form-group" >
    <label for="realname"> 姓名</label>
    
       <input  class="form-control" name="realname" type="text" id="realname" size="30" value="{$vo[realname] ? $vo[realname] : $_GET[realname]}" />
       </div>
   

  <div class="form-group" >
    <label for="platform"> 平台</label>
    
       <html:select  first="请选择" options='opt_platform' selected='platform_selected' name="platform" />
       </div>
   

  <div class="form-group" >
    <label for="ip"> ip</label>
    
       <input  class="form-control" name="ip" type="text" id="ip" size="30" value="{$vo[ip] ? $vo[ip] : $_GET[ip]}" />
       </div>
   

  <div class="form-group" >
    <label for="memberno"> 会员编号</label>
    
       <input  class="form-control" name="memberno" type="text" id="memberno" size="30" value="{$vo[memberno] ? $vo[memberno] : $_GET[memberno]}" />
       </div>
   


		      <button type="submit" class="btn btn-primary">搜索</button>
		    </form>
            <br />
            <php>  $query = strstr($_SERVER["REQUEST_URI"],'?');    </php>

            <php>if(0==1){</php>
            <a href="__CONTROLLER__/add" type="button" class="btn btn-warning">添加</a>
            <php>}</php>


            <php>if(0==1){</php>
            <a href="__CONTROLLER__/exportExcel<?=$query?>" type="button" class="btn btn-warning">导出</a>
            <php>}</php>


           <!-- show="id:编号|8%,title:名称:edit,create_time|toDate='y-m-d':创建时间,status|getStatus2:状态,{$fields}"-->
            <html:list id="checkList" name="vo" style="table table-striped table-bordered bootstrap-datatable datatable" checkbox="true" action="true"  datasource="list" show="id:id::sort,openid:openid::sort,nickname:昵称::sort,mobile:手机::sort,avatar|show_img:图像::sort,ch:用户渠道::sort,deviceid:设备id::sort,address:地址::sort,realname:姓名::sort,balance:余额::sort,modify_t:修改时间::sort,platform_text:平台,ip:ip::sort,area:区域::sort,memberno:会员编号::sort,status_flag_text:用户状态," actionlist="edit:编辑:id,user_view_recharge:查看充值记录:openid"/>
            <div>
                <php>if(0==1){</php>
                <a href="javascript:;" onclick="del();" class="btn btn-info"> 批量禁用</a>
                <php>}</php>

                <php>if(0==1){</php>
                <a href="javascript:;" onclick="foreverdel();" class="btn btn-danger"> 批量删除</a>
                <php>}</php>
            </div>
            <div class="container text-center">
                {$page}
                <div style="margin-top:10px;">跳转到<input type="text" style="width: 100px;" id="txt_page" name="txt_page" >页 <input id="btn_jump" type="button" value="跳转"></div>
                </div>
 
        </div>
    </div>

</div>

<script src="__PUBLIC__/common/user.js"></script>

<script>
    <php>
        $params = I('get.');
        unset($params['p']);
        $params = http_build_query($params);
    </php>

        $(function () {
            console.log(URL);

            $('#btn_jump').click(function () {
                goPage();
            });
            function goPage() {
                var params = '{$params}';
                var url = CONTROLLER+"/index?"+params;
                url += "&p="+$('#txt_page').val();
                window.location.href = url;

            }
        });

</script>