<extend name="Public/mui_base" />

<block name="main">

    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">设置密码</h1>
    </header>
    <div class="mui-content">
        <div class="mui-content-padded" style="margin: 5px;">

            <form>
            <div class="mui-input-row mui-password">
                <input type="password" class="mui-input-password" id="password" name="password"  placeholder="在此输入密码">
            </div>
            </form>


                <div class="mui-button-row">
                    <button type="button" class="mui-btn mui-btn-primary" id="yes" >确认</button>&nbsp;&nbsp;
                    <button type="button" class="mui-btn mui-btn-danger" id="no" >跳过</button>
                </div>

            <div class="mui-button-row" style="margin-top:20px;">
                设置密码后，您就可以使用手机号和密码登录了。您也可以点击跳过，下次继续使用验证码登录。
            </div>
        </div>
    </div>

</block>

<block name="js">

    <script>

        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=")
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end   = document.cookie.indexOf(";",c_start);
                    if (c_end == -1)
                    {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return null
        }

        
        function callback(response) {
            if(response.code){
                if(response.jumpUrl){
                    window.location.href =response.jumpUrl;
                }
            }else{
                alert('失败');
            }

        }
        
        $('#yes').click(function () {
            var url = "/user/setPassword";
            var param = $('form').serializeObject();
            console.log(param);
            post(url,param,callback);
        });

        $('#no').click(function () {
            url = URL_WWW;
            var cookie_prefix='{$cookie_prefix}';
            var redirect_url = getCookie(cookie_prefix+'_login_redirect_url');
            if(redirect_url) url = redirect_url;
            window.location.href =url;
        });

    </script>
</block>




