


<div class="row-fluid sortable">
    <div class="box span12">
        <div data-original-title="" class="box-header well"><!-- <i class="icon-user"></i> <a href="add" class=""></a>{$pageTitle}--></div>
        <div class="box-content">
            <form method='get' action="__SELF__"  class="form-inline">
                  <div class="form-group" >
    <label for=""> 用户类型</label>
    
       <html:select  first="请选择" options='opt_user_type' selected='user_type_selected' name="user_type" />
       </div>
   

  <div class="form-group" >
    <label for=""> 订单商品名称</label>
    
       <input  class="form-control" name="goods_name" type="text" id="goods_name" size="" value="{$vo[goods_name] ? $vo[goods_name] : $_GET[goods_name]}" />
       </div>
   

  <div class="form-group" >
    <label for=""> 渠道</label>
    
       <input  class="form-control" name="ch" type="text" id="ch" size="" value="{$vo[ch] ? $vo[ch] : $_GET[ch]}" />
       </div>
   

  <div class="form-group" >
    <label for=""> 订单状态</label>
    
       <html:select  first="请选择" options='opt_status' selected='status_selected' name="status" />
       </div>
   

  <div class="form-group" >
    <label for=""> 会员号</label>
    
       <input  class="form-control" name="memberno" type="text" id="memberno" size="" value="{$vo[memberno] ? $vo[memberno] : $_GET[memberno]}" />
       </div>
   


		      <button type="submit" class="btn btn-primary">搜索</button>
		    </form>
            <br />
            <php>  $query = strstr($_SERVER["REQUEST_URI"],'?');    </php>

            <php>if(1==1){</php>
            <a href="__CONTROLLER__/add" type="button" class="btn btn-warning">添加</a>
            <php>}</php>


            <php>if(1==1){</php>
            <a href="__CONTROLLER__/exportExcel<?=$query?>" type="button" class="btn btn-warning">导出</a>
            <php>}</php>


           <!-- show="id:编号|8%,title:名称:edit,create_time|toDate='y-m-d':创建时间,status|getStatus2:状态,{$fields}"-->
            <html:list id="checkList" name="vo" style="table table-striped table-bordered bootstrap-datatable datatable" checkbox="true" action="true"  datasource="list" show="id:编号::sort,order_id:订单号::sort,goods_id:商品ID::sort,goods_name:订单商品名称::sort,name:商品名::sort,type_text:商品类型,openid:三方id::sort,title:商品分类::sort,thumb|show_img:商品图::sort,status_text:订单状态,user_type_text:用户类型,ch:渠道::sort,memberno:会员号::sort,address:地址::sort,mobile:手机::sort,realname:姓名::sort,company:快递公司::sort,express_id:快递id::sort,express_no:快递单号::sort,create_t:订单时间::sort," actionlist="edit:取消:id,show:查看:id"/>
            <div>
                <php>if(1==1){</php>
                <a href="javascript:;" onclick="del();" class="btn btn-info"> 批量禁用</a>
                <php>}</php>

                <php>if(1==1){</php>
                <a href="javascript:;" onclick="foreverdel();" class="btn btn-danger"> 批量删除</a>
                <php>}</php>
            </div>
            <div class="container text-center">
                {$page}
                <div style="margin-top:10px;">跳转到<input type="text" style="width: 100px;" id="txt_page" name="txt_page" >页 <input id="btn_jump" type="button" value="跳转"></div>
                </div>
 
        </div>
    </div>

</div>

<script src="__PUBLIC__/common/order.js"></script>

<script>
    <php>
        $params = I('get.');
        unset($params['p']);
        $params = http_build_query($params);
    </php>

        $(function () {
            console.log(URL);

            $('#btn_jump').click(function () {
                goPage();
            });
            function goPage() {
                var params = '{$params}';
                var url = CONTROLLER+"/index?"+params;
                url += "&p="+$('#txt_page').val();
                window.location.href = url;

            }
        });

</script>